$whiteColor:  #FFFFFF;
$whiteColor2:  #FAFDFF;
$whiteColor3:  #E6E6F4;
$whiteColor4:  #F6FCFF;
$blueColor: #0177FB;
$blueColor2: #19224C;
$pinkColor: #f5d8da;
$redColor: #e3343d;
$greenColor: #008000;
$purpleColor: #7B1FA2;